body {
  font-family: "Times", Times, Times;
  background-color: #00004A;
  color: #9900CC;
}

#container {
  margin: 0 auto;
  width: 860px;
}

h2 {
  clear: both;
}

#error {
  display: none;
  color:  #ffffff;
  border: 1px solid #ffffff;
  padding: 5px;
  margin: 5px;
}
